<div *ngIf="getUsers$" class="user-list-container">
  <h2 class="title">Liste de Users</h2>
  <div class="filter-buttons">
    <input type="text" [(ngModel)]="filterValue" placeholder="Search..." />
    <button (click)="filterBy('id')" class="filter-button">Filter by ID</button>
    <button (click)="filterBy('name')" class="filter-button">Filter by Name</button>
    <button (click)="filterBy('username')" class="filter-button">Filter by Username</button>
  </div>
  <button (click)="openAddUserModal()" class="add-user-button">Add User</button>
  <ul class="user-list">
    <li *ngFor="let user of filteredUsers$ | async"
        [ngClass]="{'selected': isSelected(user.id)}"
        class="user-item"
        (click)="selectUser(user.id)">
      <h1 class="user-id">Id: {{ user.id }}</h1>
      <h3 class="user-name">Name: {{ user.name }}</h3>
      <p class="user-username">Username: {{ user.username }}</p>
      <button (click)="likeUser(user.id); $event.stopPropagation()" class="like-button">
        {{ isLiked(user.id) ? 'Unlike' : 'Like' }}
      </button>
      <button (click)="openUserDetailModal(user)" class="detail-button">
        Detail User
      </button>
    </li>
  </ul>
</div>
<div *ngIf="!getUsers$" class="no-user-found">
  <p>Aucun User trouvé.</p>
</div>

<!-- Modèle de pop-up pour les détails d'utilisateur -->
<div class="modal" [ngClass]="{'open': isUserDetailModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeUserDetailModal()">&times;</span>
    <h2>User Details</h2>
    <div *ngIf="selectedUser">
      <p><strong>Name:</strong> {{ selectedUser.name }}</p>
      <p><strong>Username:</strong> {{ selectedUser.username }}</p>
    </div>
  </div>
</div>

<!-- Modèle de pop-up pour ajouter un utilisateur -->
<div class="modal" [ngClass]="{'open': isAddUserModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeAddUserModal()">&times;</span>
    <h2>Add New User</h2>
    <form (submit)="submitNewUser(newUserName.value,newUserusername.value)">
      <label for="newUserName">Name:</label>
      <input #newUserName type="text" id="newUserName"  required>

      <label for="newUserUsername">Username:</label>
      <input #newUserusername type="text" id="newUserUsername"  required>

      <button type="submit">Add User</button>
    </form>
  </div>
</div>
