.user-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .filter-buttons {
    margin-bottom: 20px;
  }
  
  .filter-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .filter-button:hover {
    background-color: #0056b3;
  }
  
  .user-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .user-item.selected {
    background-color: #e0f7fa;
    border-left: 5px solid #007bff;
  }
  
  .user-id {
    font-size: 20px;
    font-weight: bold;
    color: #555;
  }
  
  .user-name {
    font-size: 18px;
    color: #666;
  }
  
  .user-username {
    font-size: 16px;
    color: #777;
  }
  
  .like-button,
  .add-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
  }
  
  .like-button:hover,
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .no-user-found {
    font-size: 16px;
    color: red;
  }
  


  /* Style pour le bouton "Add User" */
.add-user-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .add-user-button:hover {
    background-color: #0056b3;
  }
  
  /* Style pour le modèle de pop-up */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal.open {
    display: flex;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content form label {
    margin-bottom: 5px;
  }
  
  .modal-content form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .modal-content form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .modal-content form button:hover {
    background-color: #0056b3;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  